<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>
      Blank
    </ion-title>
    <ion-button (click)="Logout()">Logout</ion-button>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <div id="container" size="6">
    <ion-grid>
        <ion-row>
            <ion-col size="6">
              <form [formGroup]="myForm" (ngSubmit)="Submit(myForm)">
                <ion-input type="text" placeholder="Enter Title" formControlName="title"></ion-input>
                <ion-input type="text" placeholder="Enter Description" formControlName="description"></ion-input>
                <ion-button type="submit">Add</ion-button>
            </form>
            </ion-col>
        </ion-row>
    </ion-grid>
    <ion-grid>
      <ion-row>
          <ion-col size="4" *ngFor="let data of results| keyvalue">
            <ion-card >
                <ion-card-header>
                  <ion-card-title>{{data.key}}</ion-card-title>
                </ion-card-header>
                <ion-card-content *ngFor="let res of data.value| keyvalue">
                  {{res.value}}
                </ion-card-content>
            </ion-card>
          </ion-col>
      </ion-row>
    </ion-grid>
    <!--<strong>Ready to create an app?</strong>
    <p>Start with Ionic <a target="_blank" rel="noopener noreferrer" href="https://ionicframework.com/docs/components">UI Components</a></p>-->
  
  </div>
  

 <!-- <button type="button" (click)="Back()">Click Here</button>-->
</ion-content>
